<%- include("partials/header.ejs") %>
<div class = "about-wrapper">
    <div class = "about-left">
      <div class = "about-left-content">
        <div>
          <div class = "shadow">
            <div class = "about-img">
              <img src = "/images/DP.png" alt = "about image">
            </div>
          </div>

          <h2>Sai Sidharth</h2>
          <h3>Aspiring Full Stack Developer and Computer Science Engineer</h3>
        </div>

        <ul class = "icons">
          <li><a href="https://twitter.com/SSIDHRTH"><i class = "fab fa-twitter"></i></a></li>
          <li><a href="https://github.com/Sai-Sid07"><i class = "fab fa-github"></i></a></li>
          <li><a href="https://www.linkedin.com/in/sai-sidharth-72a805210/"><i class = "fab fa-linkedin"></i></a></li>
          <li><a href="https://www.instagram.com/saisid____/"><i class = "fab fa-instagram"></i></a></li>
        </ul>
      </div>
      
    </div>

    <div class = "about-right">
      <h1>Hi there<span>!</span></h1>
      <h2>Here's who I am & what I do</h2>
      <div class = "about-button">
        <button type = "button" class = "button button-pink">
          <a href="https://drive.google.com/file/d/11ByB3-hjuqaC95ZB9ykaMKpc-Fx6QmME/view?usp=sharing" target="_blank" rel="noreferrer noopener">
              Resume / CV</a></button>
      </div>

      <div class = "about-para">
        <p>
          I am an aspiring Computer Science Engineer with key interests in the fields of Web Development, 
          App Development, Big Data. Some of my hobbies include Driving, Exploring new fields, meeting new people,
          Jamming to songs. </p>
        <p>
          Reach out to me on my socials and lets have a chat...
        </p>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js" integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK" crossorigin="anonymous"></script>
</body>
</html>