<%- include("partials/header.ejs") %>
<body style="background-image: none;">
    <div class="container">
        <br>
        <h1 class="display-5 fst-italic">Compose</h1>
        <form action="/compose" method="post" enctype="multipart/form-data">
            <div class="form-group" style="padding: 5px;">
                <label for="category" class="form-label">Category:</label>
                <input type="text" class="form-control" name="category" autocomplete="off" required>
            </div>
            <div class="form-group" style="padding: 5px;">
                <label for="jist" class="form-label">Jist:</label>
                <textarea type="text" class="form-control" name="jist" rows="2" required></textarea>
            </div>
            <div class="form-group" style="padding: 5px;">
                <label for="title" class="form-label">Title:</label>
                <input type="text" class="form-control" name="title" autocomplete="off" required>
            </div>
            <div class="form-group" style="padding: 5px;">
                <label for="content" class="form-label">Content</label>
                <textarea class="form-control" id="content" name="content" rows="3" required></textarea>
            </div>
            <div class="form-group" style="padding: 5px;">
                <label for="image" class="form-label">Thumbnail</label>
                <input class="form-control" type="file" id="thumbnail" name="thumbnail">
            </div>
            <div class="form-group" style="padding: 5px;">
                <button type="submit" class="btn btn-primary">Publish</button>
            </div>
        </form>
    </div>
<%- include("partials/footer.ejs") %>